<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>{{session}}</h2>
  
</div>
Single Page Application
<br>
<a routerLink="family">Family</a> &nbsp;
<a routerLink="directive">Directive</a> &nbsp;
<a routerLink="review">RC</a> &nbsp;
<a routerLink="template">Template Form</a> &nbsp;
<a routerLink="reactive">Reactive Form</a> &nbsp;
<a routerLink="todo">Task Manager</a> &nbsp;
<a routerLink="pipe">Pipe</a> &nbsp;
<a routerLink="consume1">Consume1</a> &nbsp;
<a routerLink="consume2">Consume2</a> &nbsp;
<a routerLink="remote">Consume Rest API</a> &nbsp;
<br>
<router-outlet></router-outlet>